@model ZarOH.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>


@using (Html.BeginForm("Save", "Customers"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.EmailAddress)
        @Html.TextBoxFor(m => m.Customer.EmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.EmailAddress)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.TelNr)
        @Html.TextBoxFor(m => m.Customer.TelNr, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.TelNr)
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.WasACustomerBefore) Where you here in the past?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@*@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}*@