@model ZarOH.ViewModels.RoomFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Room</h2>



@using (Html.BeginForm("Save", "Rooms"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Room.RoomTypeId)
        @Html.DropDownListFor(m => m.Room.RoomTypeId, new SelectList(Model.RoomTypes, "Id", "Name"), "Select Room Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Room.RoomTypeId)
    </div>


    @Html.HiddenFor(m => m.Room.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}